.services{
    /* border: 2px solid honeydew; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 40px 120px;
}

.services-title{
    /* border: 2px solid red; */
    position: relative;
}
.services-title h1{
    /* border: 2px solid aqua; */
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600 ;
}

.services-title img{
    /* border: 2px solid orange; */
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.services-format{
    border: 2px solid hotpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    border-radius: 10px;
    transform: 400ms;
    cursor: pointer;
    transition: all 700ms ease;

}

.services-container{
    /* border: 2px solid hotpink; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 50px;
}

.services-format h3{
    font-size: 45px;
    color: hotpink;
    font-weight: 600;
}
.services-format h2{
    font-size: 23px;
    color: hotpink;

    font-weight: 400;
    /* background: linear-gradient(270deg, #df8908 50%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

}

.services-format p{
    /* border: 2px solid palegreen; */
    color: #d4d4d4;
    font-size: 18px;
    line-height: 30px;
    max-width: 300px;
    color: hotpink;

}
.services-readmore
{
    /* border: 2px solid hotpink; */
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.services-format:hover{
    box-shadow: 4px 4px 0 rgba(255, 255, 255, 0.7);
    background-color: rgb(24, 19, 19); /* Equivalent to hover:bg-lightHover */
    transform: translateY(-0.25rem) translateX(-0.25rem); /* Equivalent to hover:-translate-y-1 */
    transition: all 700ms ease;
}

@media(max-width:768px){
    .services{
        align-items: start;
        gap: 40px;
        margin: 20px 10px;
    }
    .services-title h1{
        padding: 0;
        font-size: 50px;
    }
    .services-title img{
        width: 130px;
        margin-right: 0px;
    }
    .services-container{
        gap: 2vw;
    }
    .services-format{
        
        margin-left: 20px;
        margin-top: 10px;
        padding: 20px;
        /* font-size: 10px; */
        height: 180px;
        width: 40vw;
        overflow-x: scroll;
        color: white;
    }
    .services-format h3{
        padding-top:200px;
        color: white;
        font-size: 30px;
    }
    .services-format h2{
        /* font-weight: bold; */
        
        color: white;
        font-size: 20px;
    }
    .services-format p{
        font-size: 16px;
        line-height: 25px;
        max-width: 200px;
        color: white;
    }
    .services-readmore img{
        width: 20px;
    }
    .services-container{
        grid-template-columns: 1fr 1fr;
    }
}